/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/*.index
composer.lock
package-lock.json
/storage/oauth-private.key
/storage/oauth-public.key
/public/vendor
app/Http/Kernel.php
auth.json
/public/images1
/public/assets
/public/css1
/public/js1
/public/fonts
/public/mix-manifest.json
/public/images
/public/pdf1